h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding: 15px 0;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: rgb(165, 165, 165);
}

.fix {
    position: fixed;
}

.home-page .page-header {
    background-color: transparent;
    z-index: 99;
}

.page-header {
    background-color: rgba(0, 102, 255, 0.40);
    height: 100px;
}

.page-header.col {
    padding-left: 0;
    padding-right: 0;
}

.home-page {
    background: url("../images/background-photo.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

.flex-to-column {
    flex-direction: column;
}

.full-height {
    display: flex;
    height: 100vh;
}

.full-height-with-title {
    display: flex;
    height: calc(100vh - 100px);
}

.overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 102, 255, 0.20);
}

.navbar,
.page-header {
    height: 100px;
}

.nav-link {
    font-size: 1.25em;
    text-transform: uppercase;
}

li.nav-item {
    margin: 0 15px;
}

.section-title {
    margin-top: 15px;
}

.progress-bar {
    color: black;
    height: 15px;
    border-radius: 5px;
}

section .full-height-with-title {
    align-items: center;
}

.skills .col-lg-6 {
    min-height: auto;
}

* {
    outline: 1px red solid;
}

.progress-green {
    background-color: green;
}

.about-me img {
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
    object-fit: cover;
}